{% extends "base.html" %}

{% block title %}Create icon{% endblock %}
{% block content %}
    <h1>Create icon</h1>
    <form action="/api/icons" method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" />
        </div>
        <div class="form-group">
            <label for="name">Category</label>
            <select class="form-control" id="category" name="category" size="1">
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="src">Source</label>
            <textarea class="form-control" id="src" name="src" rows="3" cols="50"></textarea>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="status" name="status">
                <label class="form-check-label" for="status">Status</label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
    </form>
{% endblock %}
