{% extends "base.html" %}

{% block title %}Create category{% endblock %}
{% block content %}
    <h3 class="mt-4">Create category:</h3>
    <form action="/api/categories" method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" />
        </div>
        <div class="form-group">
            <label for="machine_name">Machine name</label>
            <input type="text" class="form-control" id="machine_name" name="machine_name" />
        </div>
        <button type="submit" class="btn btn-danger" value="Submit">Submit</button>
    </form>
{% endblock %}
