{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h3 class="mt-4">{{ title }}</h3>
    <form action="{{ action }}" method="{{ method }}">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ icon_data.name }}"/>
        </div>
        <div class="form-group">
            <label for="name">SIM icon name</label>
            <input type="text" class="form-control" id="sim_icon_name" name="sim_icon_name" value="{{ icon_data.sim_icon_name }}"/>
        </div>
        <div class="form-group">
            <label for="name">Category</label>
            <select class="form-control" id="category" name="category" size="1">
                {% for category in categories %}
                {% if  category.id == icon_data.category %}
                    <option value="{{ category.id }}" selected>{{ category.name }}</option>
                {% else %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="src">Source</label>
            <textarea class="form-control" id="src" name="src" rows="3" cols="50">{{ icon_data.src }}</textarea>
        </div>
        <div class="form-group">
            <div class="form-check">
                {% if icon_data.status %}
                    <input class="form-check-input" type="checkbox" id="status" name="status" checked="true">
                {% else %}
                    <input class="form-check-input" type="checkbox" id="status" name="status">
                {% endif %}
                <label class="form-check-label" for="status">Status</label>
            </div>
        </div>

        <button type="submit" class="btn btn-danger" value="Submit">Submit</button>
    </form>
{% endblock %}
