{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block content %}
    <script>
        $(document).ready(function() {
            $('form').submit(function() {
                $.ajax({
                    method: "POST",
                    url: 'http://slim-app.lndo.site/token',
                    username: $("#login").val(),
                    password: $("#pass").val()
                }).done(function(res) {
                    document.cookie = "token=" + res.token + "; max-age=" + res.expires;
                    $("#error_msg").html("");
                    document.location='http://slim-app.lndo.site/admin';
                }).fail(function(result) {
                    $("#error_msg").html("Error logging in: " + result.statusText);
                });
                return false;
            });
        });
    </script>
    {% if not isLoggedIn() %}
        <h1>Login</h1>
        <div id="error_msg" style="color: red"></div>
        <form method="POST">
            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" class="form-control" id="login" name="login" value="admin"/>
            </div>
            <div class="form-group">
                <label for="pass">Password</label>
                <input type="password" class="form-control" id="pass" name="pass" value="zsZ@aVn6Tq#a\e("/>
            </div>
            <button type="submit" class="btn btn-primary" value="Submit">Log in</button>
        </form>
    {% else %}
        <p>Welcome!</p>
        <p>You are logged in.</p>
    {% endif %}
{% endblock %}
