{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block content %}
    <script>
        $(document).ready(function() {
            $("#error_msg").hide();
            $('form').submit(function() {
                $.ajax({
                    method: "POST",
                    url: "{{ base_url }}" + "/token",
                    username: $("#login").val(),
                    password: $("#pass").val()
                }).done(function(res) {
                    document.cookie = "token=" + res.token + "; max-age=" + res.expires;
                    $("#error_msg").html("");
                    document.location="{{ base_url }}" + "/admin";
                }).fail(function(result) {
                    $("#error_msg").show();
                    $("#error_msg").html("Error logging in: " + result.statusText);
                });
                return false;
            });
        });
    </script>
    {{ part }}
    {% if isLoggedIn() %}
        <h3 class="mt-4">Create new:</h3>

        <ul class="list-group w-25 list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
              <a href="/admin/categories/create" class="text-dark">Category</a>
              <span class="badge badge-danger badge-pill">{{ number_of_categories }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                <a href="/admin/icons/create" class="text-dark">Icon</a>
                <span class="badge badge-danger badge-pill">{{ number_of_icons }}</span>
            </li>
        </ul>

    {% else %}
        <div class="alert alert-danger m-auto w-25" role="alert" id="error_msg">
        </div>
        <form method="POST" class="w-25 p-3 m-auto">
            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" class="form-control" id="login" name="login" value="admin"/>
            </div>
            <div class="form-group">
                <label for="pass">Password</label>
                <input type="password" class="form-control" id="pass" name="pass" value="zsZ@aVn6Tq#a\e("/>
            </div>
            <button type="submit" class="btn btn-danger" value="Submit">Log in</button>
        </form>
    {% endif %}
{% endblock %}
