{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h3 class="mt-4">Create icon:</h3>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    {% for key, item in data|first %}
                        <th scope="col"> {{ key }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                    <tr>
                        {% for key, value in item %}
                            
                            <td>
                                {% if key == 'src' %}
                                    {{ value | raw }}
                                {% else %}
                                    {{ value }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
