{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div>
        <table class="table table-striped table-borderless">
            <thead class="thead-dark">
                <tr>
                    {% for key, item in data|first %}
                        <th scope="col"> {{ key }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                    <tr>
                        {% for key, value in item %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
